$color-white-text: rgba(255, 255, 255, 1);
$color-black-text: rgba(0, 0, 0, 1);

$color-today-marker: rgba(17, 104, 210, 1);

$color-border: rgba(243, 239, 239, 1);

$color-current-line: rgba(174, 53, 53, 1);

$color-bg-body: rgba(255, 255, 255, 1);

$color-bg-modal: rgba(255, 255, 255, 1);
$color-bg-modal-overlay: rgba(204, 204, 204, 0.27);
$color-bg-modal-btn: rgba(100, 149, 237, 1);

$color-bg-event: rgba(100, 149, 237, 1);
$color-bg-event-hover: rgba(236, 65, 65, 1);

$color-bg-delete-btn: rgba(224, 232, 231, 1);

$shadow-event: 0px 0px 9px -1px rgba(0, 0, 0, 0.3);
$shadow-event-hover: 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
$shadow-delete-btn: 0px 2px 16px -4px rgba(0, 0, 0, 0.75);

$opacity-calendar-header: 0.7;
$opacity-timescale: 0.7;
