@import '../../styles/variables.scss';

.calendar {
  &__header {
    display: flex;
    height: 100px;
    padding-left: 48px;
  }

  &__day-label {
    flex: 1;
  }

  .day-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    opacity: $opacity-calendar-header;

    &__day-name {
      font-size: 14px;
      text-transform: uppercase;
    }

    &__day-number {
      font-size: 22px;
    }
  }

  .today {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: $color-white-text;
    background-color: $color-today-marker;
  }
}
