@import '../../styles/variables.scss';

.event {
  position: absolute;
  width: 80%;
  background-color: $color-bg-event;
  border-radius: 8px;
  padding: 8px;
  color: $color-white-text;
  box-shadow: $shadow-event;
  z-index: 1;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
    font-weight: bold;
  }

  &:hover {
    background-color: $color-bg-event-hover;
    box-shadow: $shadow-event-hover;
    cursor: pointer;
  }
}

.delete {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  bottom: -42px;
  right: 0;
  height: 48px;
  width: 152px;
  color: $color-black-text;
  background-color: $color-bg-delete-btn;
  box-shadow: $shadow-delete-btn;
  border-radius: 4px;
  z-index: 2;
  cursor: pointer;

  &__icon {
    margin-left: 20px;
    font-size: 18px;
  }

  &__title {
    margin-left: 20px;
    font-size: 18px;
  }
}
