.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
}

.create-event-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  width: 152px;
  height: 48px;
  border-radius: 24px;
  border: none;
  box-shadow: 0px 6px 17px -12px rgba(0, 0, 0, 0.75);

  &__create {
    margin-right: 20px;
  }

  &:hover {
    background-color: rgba(200, 221, 218, 0.813);
    box-shadow: 0px 6px 17px -8px rgba(0, 0, 0, 0.75);
  }
}

.navigation {
  &__today-btn {
    height: 38px;
    margin-left: 32px;
    padding: 0 16px;
    border: 1px solid #ccc;
    border-radius: 6px;

    &:hover {
      background-color: rgba(223, 233, 231, 0.813);
    }
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 10px;
  }
}
