@import '../../styles/variables.scss';

.timeline {
  position: absolute;
  width: 100%;
  top: 0;

  &__line {
    height: 2px;
    background-color: $color-timeline;
    position: relative;

    &::before {
      position: absolute;
      top: -1.5px;
      left: -2.75px;
      content: '';
      background-color: $color-timeline;
      height: 5px;
      width: 5px;
      border-radius: 50%;
    }
  }
}
